.box{
    width: 300px;
    height: 150px;
    /* background-color: cadetblue;
    animation-name: colorAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    transition-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation: colorAnimation 2s ease-in 0s infinite alternate;
}
@keyframes fontAnimation{
    from{
        font-size: 18px;
    }
    to{
        font-size: 40px;
    }
}
@keyframes colorAnimation{
    0%{
        background-color: coral;
    }
    50%{ 
        background-color: royalblue;
        width: 500px;
    }
    100%{
        background-color: aqua;
    }
}